
*, *:before, *:after { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

html {
	background-color: #D1F2FF;
	color: #222;
}

#main {
	margin: 0px auto 0px auto;
	width: 100%;
}

.current-weather {
	width: 350px;
	margin: 0px auto 0px auto;
}

#temp, #conditions {
	text-align: center;
}

.forecast {
	width: 350px;
	margin: 0px auto;
}

.tomorrow { display: block;}

.day {
	display: inline-block;
	width: 50px;
	padding: 5px 5px;
	text-align: center;
}