
*, *:before, *:after { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

html {
	background-color: #89E8FF;
	color: #222;
}

.main {
	margin: 0px auto 0px auto;
	width: 768px;
}

.curent-weather {
	width: 240px;
	background-color: #f6f6f6;
	margin: 0px auto 0px auto;
}

.day {
	float:left;
	width: 3em;
	padding: .5em .5em .5em 0em;
}